version: 2
updates:
  # npm dependencies
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 1
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps"
    versioning-strategy: increase 
    groups:
      all-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "react"
          - "next"  

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
    commit-message:
      prefix: "ci"
