
@import "tailwindcss";

::selection {
    background-color: #47a3f3;
    color: #fefefe;
}

:root {
    --sh-class: #2d5e9d;
    --sh-identifier: #354150;
    --sh-sign: #8996a3;
    --sh-string: #007f7a;
    --sh-keyword: #e02518;
    --sh-comment: #a19595;
    --sh-jsxliterals: #6266d1;
    --sh-property: #e25a1c;
    --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --sh-class: #4c97f8;
        --sh-identifier: white;
        --sh-keyword: #f47067;
        --sh-string: #0fa295;
    }
    html {
        color-scheme: dark;
    }
}

html {
    min-width: 360px;
}

.prose .anchor {
    position: absolute;
    visibility: hidden;
    text-decoration: none;
    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

.anchor:hover {
    visibility: visible;
}

.prose a {
    transition: all;
    text-decoration-color: #a3a3a3;
    text-decoration-color: #525252;
    text-underline-offset: 2px;
    text-decoration-thickness: 0.1em;
}

.prose .anchor:after {
    color: #d4d4d4;
    color: #404040;
    content: '#';
}

.prose *:hover > .anchor {
    visibility: visible;
}

.prose pre {
    background-color: #fafafa;
    background-color: #171717;
    border-radius: 0.5rem;
    overflow-x: auto;
    border: 1px solid #e5e5e5;
    border-color: #171717;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
}

.prose code {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

.prose pre code {
    padding: 0;
    border: initial;
    line-height: 1.5;
}

.prose code span {
    font-weight: 500;
}

.prose img {
    /* Don't apply styles to next/image */
    margin: 0;
}

.prose p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #262626;
    color: #d4d4d4;
}

.prose h1 {
    font-size: 2.25rem;
    font-weight: 500;
    letter-spacing: -0.025em;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.prose h2 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.025em;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.prose h3 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.025em;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.prose h4 {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: -0.025em;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.prose strong {
    font-weight: 500;
}

.prose ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.prose ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}

.prose > :first-child {
    /* Override removing top margin, causing layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
}

a.not-prose {
    text-decoration: none;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}

.title {
    text-wrap: balance;
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
[aria-describedby='footnote-label'] {
    counter-increment: footnotes; /* 1 */
    text-decoration: none; /* 2 */
    color: inherit; /* 2 */
    cursor: default; /* 2 */
    outline: none; /* 2 */
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
[aria-describedby='footnote-label']::after {
    content: '[' counter(footnotes) ']'; /* 1 */
    vertical-align: super; /* 2 */
    font-size: 0.5em; /* 3 */
    margin-left: 2px; /* 4 */
    color: inherit; /* 5 */
    text-decoration: underline; /* 5 */
    cursor: pointer; /* 5 */
}

/**
 * Resetting the default focused styles on the number
 */
[aria-describedby='footnote-label']:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
}

[aria-label='Back to content'] {
    font-size: 0.8em;
}

/**
 * Highlight target note
 */

/* addon */
